@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: #4e54c8;
    overflow: hidden;
    z-index: -1;
}

.background li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 36s linear infinite;
}




.background li:nth-child(0) {
    left: 19%;
    width: 146px;
    height: 146px;
    bottom: -146px;
    animation-delay: 1s;
}

.background li:nth-child(1) {
    left: 19%;
    width: 112px;
    height: 112px;
    bottom: -112px;
    animation-delay: 1s;
}

.background li:nth-child(2) {
    left: 11%;
    width: 175px;
    height: 175px;
    bottom: -175px;
    animation-delay: 5s;
}

.background li:nth-child(3) {
    left: 76%;
    width: 152px;
    height: 152px;
    bottom: -152px;
    animation-delay: 4s;
}

.background li:nth-child(4) {
    left: 40%;
    width: 178px;
    height: 178px;
    bottom: -178px;
    animation-delay: 14s;
}

.background li:nth-child(5) {
    left: 57%;
    width: 102px;
    height: 102px;
    bottom: -102px;
    animation-delay: 4s;
}

.background li:nth-child(6) {
    left: 71%;
    width: 102px;
    height: 102px;
    bottom: -102px;
    animation-delay: 14s;
}

.background li:nth-child(7) {
    left: 72%;
    width: 180px;
    height: 180px;
    bottom: -180px;
    animation-delay: 18s;
}

.background li:nth-child(8) {
    left: 19%;
    width: 134px;
    height: 134px;
    bottom: -134px;
    animation-delay: 13s;
}

.background li:nth-child(9) {
    left: 78%;
    width: 166px;
    height: 166px;
    bottom: -166px;
    animation-delay: 5s;
}

.background li:nth-child(10) {
    left: 76%;
    width: 141px;
    height: 141px;
    bottom: -141px;
    animation-delay: 14s;
}

.background li:nth-child(11) {
    left: 65%;
    width: 142px;
    height: 142px;
    bottom: -142px;
    animation-delay: 28s;
}

.background li:nth-child(12) {
    left: 62%;
    width: 129px;
    height: 129px;
    bottom: -129px;
    animation-delay: 33s;
}

.background li:nth-child(13) {
    left: 89%;
    width: 153px;
    height: 153px;
    bottom: -153px;
    animation-delay: 34s;
}