@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

:root {
    --primary-color: #f99f38
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    height: 70vh;
    font-family: 'Playfair Display', serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 35vh;
}